<nz-layout>
    <nz-sider class="menu-sidebar" nzCollapsible nzBreakpoint="lg" nzWidth="230px" [nzCollapsedWidth]="0"
        [ngSwitch]="isAuthenticated()" *ngIf="!vsConfig.layout.sidenav.hidden">
        <div class="sidebar-logo">
            <a [routerLink]="['/']" target="_blank">
                <img src="assets/logo/gardilo.svg" alt="logo">
                <h1>GARDILO PORTAL</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: navigation }"></ng-container>
            <ng-template #menuTpl let-menus>
                <ng-container *ngFor="let menu of menus">
                    <li *ngIf="!menu.children" nz-menu-item [nzPaddingLeft]="menu.level * 24"
                        [nzDisabled]="menu.disabled" nzMatchRouter>
                        <a *ngIf="menu.url;else noroute" [routerLink]="[menu.url]">
                            <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
                            <!-- <i nz-icon [nzIconfont]="menu.icon" *ngIf="menu.icon"></i> -->
                            <span>{{ menu.title }}</span>
                        </a>
                        <ng-template #noroute>
                            <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
                            <!-- <i nz-icon [nzIconfont]="menu.icon" *ngIf="menu.icon"></i> -->
                            <span>{{ menu.title }}</span>
                        </ng-template>
                    </li>
                    <li *ngIf="menu.children" nz-submenu [nzPaddingLeft]="menu.level * 24"
                        [nzOpen]="rla.isActive || false" [nzTitle]="menu.title" [nzIcon]="menu.icon"
                        [nzDisabled]="menu.disabled">
                        <a hidden [routerLink]="[menu.url]" routerLinkActive #rla="routerLinkActive"></a>
                        <ul>
                            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }">
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-template>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header *ngIf="!vsConfig.layout.header.hidden">
            <div class="header">
                <div class="header__lh">
                </div>
                <div class="header__rh">
                    <nz-select [ngModel]="selectedSupplier" (ngModelChange)="onChangeSupplier($event)">
                        <nz-option [nzValue]="supplierOption" [nzLabel]="supplierOption.storeName"
                            *ngFor="let supplierOption of suppliers; trackBy: trackById"></nz-option>
                    </nz-select>

                    <a nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
                        {{(account?.firstName + ' ' + account?.lastName)  | titlecase}}
                        <i nz-icon nzType="caret-down"></i>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item>About</li>
                            <li nz-menu-divider></li>
                            <li nz-menu-item>Preferences</li>
                            <li nz-menu-divider></li>
                            <li nz-menu-item (click)="logout()">Log out</li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>