<vs-pagebar [title]="'Manage Products'" [subtitle]="'Product View/Edit'"></vs-pagebar>
<div class="pagebar-content-wrapper">
    <vs-panel [title]="'Basic Information'">
        <div body class="panel-content-wrapper">
            basic information
        </div>
    </vs-panel>
    <vs-panel [title]="'SKU Information'">
        <div body class="panel-content-wrapper">
            basic information
        </div>
    </vs-panel>
    <vs-panel [title]="'Product Information'">
        <div body class="panel-content-wrapper">
            basic information
        </div>
    </vs-panel>
    <vs-panel [title]="'Product Decoration'">
        <div body class="panel-content-wrapper">
            basic information
        </div>
    </vs-panel>
    <vs-panel [title]="'Video URL'">
        <div body class="panel-content-wrapper">
            basic information
        </div>
    </vs-panel>
    <vs-panel [title]="'Highlights'">
        <div body class="panel-content-wrapper">
            basic information
        </div>
    </vs-panel>
</div>