:host {
  overflow: hidden;
  display: block;

  .control-bar {
    background: #fafafa;
    padding: 10px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search-bar {
      display: flex;
    }
  }

  .editable-cell {
    position: relative;
    padding: 5px 12px;
    cursor: pointer;
  }

  .editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-content {
  margin-top: -16px;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-bar {
  border-color: #fff;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
