<!-- <div class="component-content">
    welcome compoent
</div> -->
<div class="welcome-wrapper">
    <app-welcome-topbar></app-welcome-topbar>
    <div nz-row nzJustify="space-around" nzAlign="middle">
        <div nz-col [nzXs]="24" [nzLg]="10">

        </div>
        <div nz-col [nzXs]="24" [nzLg]="8">
            <!-- <div class="card-container">
                <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.title">
                        <nz-card nzTitle="Card title">
                            <p>Card content</p>
                            <p>Card content</p>
                            <p>Card content</p>
                        </nz-card>
                    </nz-tab>
                </nz-tabset>
            </div> -->
            <nz-card class="login-wrapper" nzTitle="Account Login">
                <button nz-button [nzSize]="'large'" nzType="primary" nzBlock nzDanger (click)="login()">SIGN IN WITH
                    ZEZAWAR</button>
            </nz-card>
        </div>
    </div>
    <!-- <div class="box">
        <div class="box-banner">
            <h1>Work with us</h1>
            <div class="max-width-lg">
                Our researchers are embedded in teams across computer science, to discover, invent, and build at the
                largest
                scale.
            </div>
        </div>

        <div class="box-login login">
            <div class="login__wrap">
                <ng-container *ngIf="type === 'user'">
                    <h2 class="login__title">title</h2>
                    <div class="login__type ant-popover-placement-left">
                        <div class="ant-popover-content login__type-tip">
                            <i class="ant-popover-arrow"></i>
                            <div class="ant-popover-inner">qr</div>
                        </div>
                        <i nz-icon nzType="qrcode" class="login__type-icon" (click)="type = 'qr'"></i>
                    </div>
                    <div class="mt-md">
                        <form nz-form #f="ngForm" nzLayout="vertical" [formGroup]="form" (ngSubmit)="submit()"
                            role="form">
                            <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true"
                                class="mb-lg"></nz-alert>
                            <div class="mt-md">
                                <input formControlName="userName" nz-input nzSize="large" autocomplete="off"
                                    placeholder="username: admin or user" />
                            </div>
                            <div class="mt-md">
                                <input nz-input type="password" nzSize="large" autocomplete="off"
                                    formControlName="password" placeholder="password: ng-alain.com" />
                            </div>
                            <div class="mt-md">
                                <button nz-button nzType="primary" nzSize="large" nzBlock type="submit"
                                    [disabled]="f.invalid" [nzLoading]="http.loading">
                                    user
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="mt-lg text-right">
                        <a routerLink="/account/forget" class="mr-md">forget</a>
                        <a routerLink="/account/register">register</a>
                    </div>
                    <div class="user-other">
                        sign in with
                        <i (click)="t()" nz-icon nzType="alipay-circle"></i>
                        <i (click)="t()" nz-icon nzType="taobao-circle"></i>
                        <i (click)="t()" nz-icon nzType="weibo-circle"></i>
                    </div>
                </ng-container>
                <ng-container *ngIf="type === 'qr'">
                    <h2 class="login__title">qr</h2>
                    <div class="login__type ant-popover-placement-left">
                        <div class="ant-popover-content login__type-tip">
                            <i class="ant-popover-arrow"></i>
                            <div class="ant-popover-inner">user</div>
                        </div>
                        <i nz-icon nzType="desktop" class="login__type-icon" (click)="type = 'user'"></i>
                    </div>
                    <div class="login__qr">
                        <div class="login__qr-img">
                            <img src="//qr.liantu.com/api.php?text=https://e.ng-alain.com/" height="140" width="140" />
                            <div class="login__qr-error">
                                <p>qr</p>
                                <button (click)="t()" nz-button nzType="primary">refresh</button>
                            </div>
                        </div>
                        <div class="login__qr-desc">
                            <i nz-icon nzType="scan"></i>
                            <div class="text-xs text-left">
                                qr
                                <span class="text-grey">app name</span>
                                <div>scan</div>
                            </div>
                        </div>
                        <div class="mt-lg text-right">
                            <a (click)="t()" class="mr-md">down</a>
                            <a routerLink="/account/register">register</a>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div> -->
</div>