nz-content {
  .inner-content {
    .pagebar-content-wrapper {
      padding: 16px;
    }

    .panel-content-wrapper {
      padding: 16px;
      background-color: #ffffff;
      min-height: 20vh;
    }
  }

  .component-content {
    margin: 16px;
    background: #fff;
    height: 100%;
  }
}
