<div class="pagebar-content-wrapper">
    <div class="page-header">
        <nz-breadcrumb nzSeparator=">">
            <nz-breadcrumb-item>
                <a href="javascript:void(0)" [routerLink]="['../']">Discount Types</a>
            </nz-breadcrumb-item>`
            <nz-breadcrumb-item>
                <span>Add Discount Type</span>
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div class="page-sub-header">
        <span class="page-sub-header__title">Add Discount Type</span>
    </div>

    <div class="page-body">
        <form nz-form [formGroup]="editForm" (ngSubmit)="save()">
            <div nz-row>
                <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="15">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="id">ID
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input formControlName="id" id="id" disabled />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="name">Name
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input formControlName="name" id="name" (ngModelChange)="onChangeName($event)" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="handle">Handle
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input formControlName="handle" id="handle" disabled />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="shortLabel">Short Label
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input formControlName="shortLabel" id="shortLabel" />
                        </nz-form-control>
                    </nz-form-item>

                    <!-- <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="modifiedDate">
                            Modified Date
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <nz-date-picker [nzFormat]="'dd-MM-yyyy'" formControlName="modifiedDate" id="modifiedDate">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item> -->
                </div>
            </div>

            <nz-row>
                <nz-col nzOffset="5" [nzSm]="10" [nzXs]="24">
                    <nz-space>
                        <nz-space-item>
                            <button nz-button nzType="primary" type="submit" id="save-entity"
                                [disabled]="editForm.invalid || isSaving">
                                <span>Save</span>
                            </button>
                        </nz-space-item>

                        <nz-space-item>
                            <button nz-button nzType="default" type="button" id="cancel-save" (click)="previousState()">
                                <span>Cancel</span>
                            </button>
                        </nz-space-item>
                    </nz-space>
                </nz-col>
            </nz-row>
        </form>
    </div>
</div>