<div class="welcome-wrapper">
    <app-welcome-topbar></app-welcome-topbar>
    <div nz-row nzJustify="space-around" nzAlign="middle">
        <div nz-col [nzXs]="24" [nzLg]="10">

        </div>
        <div nz-col [nzXs]="24" [nzLg]="8">
            <nz-card class="login-wrapper" nzTitle="Account Login">
                <button nz-button [nzSize]="'large'" nzType="primary" nzBlock nzDanger (click)="login()">SIGN IN WITH
                    GARDILO</button>
            </nz-card>
        </div>
    </div>
</div>