:host {
  .control-bar {
    background: #fafafa;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search-bar {
      display: flex;
    }
  }
}
