:host {
  overflow: hidden;
  display: block;

  section {
    margin-bottom: 20px;
  }

  .page-header {
    margin-bottom: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content-wrapper {
    padding: 20px;
    background-color: #ffffff;
  }

  .page-sub-header {
    padding: 20px 0px;
    font-size: 1.5em;

    &__title {
      margin-right: 0.5em;
    }
  }

  .upload-body-wrapper {
    padding: 16px;
    background-color: #ffffff;
  }
}

:host ::ng-deep .ant-anchor-wrapper {
  background: none;
}

:host ::ng-deep .upload-list-inline .ant-upload-list-item {
  float: left;
  margin-right: 8px;
}

:host
  ::ng-deep
  .upload-list-inline
  [class*="-upload-list-rtl"]
  .ant-upload-list-item {
  float: right;
}

:host ::ng-deep .upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}

:host ::ng-deep .upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
